@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 26px;
}
.top-bar {
	width: 100%;
	min-width: 1050px;
	height: 50px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
}

.logo {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 2rem;
	position: relative;
	top: 7px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #1086BA;
}
a:hover {
	text-decoration: none;
}
nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}
nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
}
nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}