@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}
@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 26px;
	background-color: #E6EAE8;
}
a {
	color: #20AAE5;
	text-decoration: none;
}
.top-bar {
	width: 100%;
	min-width: 1050px;
	height: 50px;
	background-color: #20aae5;
	border-bottom: 0.25em solid #1894ca;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 99;
}

.logo {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 2.6rem;
	position: relative;
	top: 7px;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	color: #ffffff;
	left: 12%;
}
.logo a {
		color: #ffffff;
}
a:hover {
	text-decoration: none;
}
nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
	right: 12%;
}
nav a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	padding: 0 6px;
}

nav a:hover {
	border-bottom: 7px solid #e67e22;
	color: #fff;
}
.wrapper {
	margin: 0 auto;
	top: 60px;
	position: relative;
	padding: 0 10px;
	width: 75%;
	min-width: 950px;
}
.column {
	background-color: #fff;
	padding: 10px;
	border-color: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}
.user_details {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}
.user_details_left_right {
	width: 125px;
	display: inline-block;
	position: absolute;
}
.user_details img {
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}
.main_column {
	float: right;
	width: 70%;
	z-index: -1;
	min-height: 160px;
}
.post_form {
	width: 100%;
}
.post_form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
	font-size: 12px;
	padding: 5px;
}
textarea:focus {
	outline: 0;
}
.post_form input[type="submit"] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #3498db;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #ffffff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;	
}
.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
}
.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0 5px;
	min-height: 75px;
}
.post_profile_pic {
	float: left;
	margin-right: 8px;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}
.comment_section {
	padding: 0 5px 5px 5px;
}
.comment_section img {
	margin: 0 3px 5px 5px;
}
#comment_form textarea {
	border-color: #D3D3D3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px; 
}
#comment_form input[type="submit"] {
	border: none;
	background-color: #20AAE5;
	color: #ffffff;
	border-radius: 5px;
	width: 13%;
	height: 40px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #ffffff;
	text-shadow: #73B6E2 0.5px 0.5px 0px;
}
.newsFeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #20AAE5;
	border: none;
	cursor: pointer;
}
#like-btn {
 cursor: pointer;
}
.newsFeedPostOptions iframe {
	border: 0px;
	height: 27px;
	width: 120px;
}

.comment_like {
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

/* TODO section 8 lecture no 61 */